h1{
    margin: 10px;
}
.main-container{
    background-image: url(img/backgorund.png);
    opacity:0.9;
    z-index: 0;
}
img{
    width:100%;
    height:100%;
    opacity:0.95;
}
.region-container{
    display:grid;
    width:70vw;
    margin: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:300px;
    grid-gap: 80px;
    align-items: stretch;
}
.region-item{
    height: 300px;
    width: 400px;
    border:#D7D7D7 solid 1px;
    transition: all 0.2s ease;
    border-radius: 5px;
    z-index: 1;
   
}
.region-item:hover{
    transform: scale(1.03);
}