{% extends 'layout.html '%}
{% block body %}
<h1>{{region}}</h1>
<div class="car-container">
    <div class="cars">
        {% for car in cars[region]['cars'] %}
        <a href="http://127.0.0.1:5000/home/{{region}}/{{car}}">
            <li class="cars-list list-group-item list-group-item-success">{{car}}</li>
        </a>
        {% endfor %}
    </div>
    <div class="region-statistics">
        <canvas class="myChart" width="500" height="400"></canvas>
        <canvas class="myChart2" width="500" height="400"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
const chart = document.getElementsByClassName('myChart');
const chart2 = document.getElementsByClassName('myChart2');
const newChart1 = new Chart(chart,{
    type: 'polarArea',
    data:{
        labels:['Audi', 'BMW', "VW"],
        datasets:[{
            label:'Population',
            data:[100,200,400],
            backgroundColor: ['#f1c40f','#e67e22', '#16a085'],
        }]
    },
    options: {
        // apply to change chart's size
        responsive: false,
        // make charts looks better
        devicePixelRatio: 2,
        scales: {
            yAxes: [{
                ticks: {
                beginAtZero: true
                }
            }]
        }
    }
});
const newChart2 = new Chart(chart2,{
    type: 'bar',
    data:{
        labels:['Audi', 'BMW', "VW"],
        datasets:[{
            label:'Population',
            data:[100,200,400],
            backgroundColor: ['#49AFFE','#FE4949', '#FE49EE']
        }]
    },
    options: {
        // apply to change chart's size
        responsive: false,
        // make charts looks better
        devicePixelRatio: 2,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock %}

